version: "3.9"

services:
  api:
    build: .
    container_name: movie_api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: >
      uv run uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
