version: "3.9"

services:
  migrate:
    build: .
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./alembic:/app/alembic
    command: uv run alembic upgrade head
    environment:
      DATABASE_URL_SYNC: postgresql+psycopg2://postgres:postgres@db:5432/movies
    restart: "no"

  api:
    build: .
    container_name: movie_api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: >
      uv run uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/movies

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movies
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
    driver: local
